*{
    font-family: "Montserrat", sans-serif;

}

/* =========================Header============================ */
.head{
    display: flex;
    justify-content: space-between;
    background-color: #272727;
    height: 3rem;
    padding: 1rem;
}


/* ================================================================ */

/* navigation menu*********************************************** */

  
  
  .navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: #fddb3a;
  }
  
  .navMenu .dot {
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(110px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  /* ******************************************************************** */

    .MyClass{
        display: flex;
        /* width: 50%; */
        padding: 1rem;
        margin: 15rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        flex-direction: column;
        align-self: center;
        background-color:rgb(0, 0, 0);
        color: white;
        border-radius: 30px;
    } 
    .img{
        height: 10rem;
        width: 10rem;
        border-radius: 20px;
    }
    .movies{
        background-color: rgba(0, 0, 0, 0.432);
        z-index: -1;
        padding: 1rem;
        border: none;
        border-bottom: 2px solid #9b9b9b;
    }
    .MyClass:hover{
        background-color: rgba(0, 0, 0, 0.527);
        color: #fddb3a;
    }
    .des{
        color: white;
    }


  /* ===================================SEARCH BAR============================================= */
form input{
    background-color: #272727;
    color: white;
    border: none;
    border-bottom: 2px solid #fddb3a;
}

button{
    border: none;
    margin-left: 1rem;
    background-color:#272b26;
    color: whitesmoke;
    border-radius: 5px;
    padding: 0.5rem;
}

  /* ********************************************************************************************** */

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    border-radius: 0px 0px 10px 10px;
    height: 5rem;
}
footer a {
    text-decoration: none;
    padding: 7px;
    color: white;
    }



    /* =====================================Responsive=========================================== */
    @media screen and (max-width: 800px) {
        .img{
            height: 7rem;
            width: 7rem;
        }
        .movies{
            font-size: 12px;
        }
        .MyClass{
            margin: 1rem 0.1rem;
        }

    }